serverless/app/templates/states.json
{
  "Comment": "An example of the Amazon States Language using a choice state.",
  "StartAt": "SassTest",
  "States": {
    "SassTest": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.sass",
          "Equals": "yes",
          "Next": "Cat"
        }
      ],
      "Default": "NonCat"
    },

    "Cat": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.travel",
          "NumericGreaterThan": 7,
          "Next": "Survivor"
        }
      ],
      "Default": "NonSurvivor"
    },

    "NonCat": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnSecondMatch",
      "Next": "NextState"
    },
	"Survivor": {
      "Type" : "Pass",
      "Result": {
    	"petMatch": "survivor-cat"
  		},
  		"ResultPath": "$.",
     	"Next": "GetMatchedPetDetails"
    },
    "NonSurvivor": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.duress",
          "Equals": "yes",
          "Next": "FriendlyCat"
        }
      ],
      "Default": "SassyCat"
    },
    "FriendlyCat": {
      "Type" : "Pass",
      "Result": {
    	"petMatch": "friendly-cat"
  		},
  		"ResultPath": "$.",
     	"Next": "GetMatchedPetDetails"
    },
    "SassyCat": {
      "Type" : "Pass",
      "Result": {
    	"petMatch": "sassy-cat"
  		},
  		"ResultPath": "$.",
     	"Next": "GetMatchedPetDetails"
    },

    "GetMatchedPetDetails": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
      "End": true
    }
  }
}

